<div class="hero">
  <div class="frosty">
  <br />
    <h1>Let the Wookie Win</h1>
  <br />
  </div>

    <div class="container">
      <div class="row">
        <div class="col-8 col-offset-2 col-md-8 col-md-offset-2 text-center">
        <!-- Button trigger how to play modal -->
<!--         <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#howToPlayModal">
          Instructions
        </button> -->

          <% if user_signed_in? %>
          <!-- Button trigger "Offer A Game" modal -->
       <!--    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#offerGameModal">
          Offer Game</button> -->
            <%= link_to 'Join Game', "#", class: "btn btn-primary btn-lg text-center" %>
            <%= link_to 'Offer Game', "#", class: "btn btn-primary btn-lg text-center" %>
            <%= link_to 'Continue Game', "#", class: "btn btn-primary btn-lg text-center" %>
          <% else %>
            <%= button_to 'Create Account', new_user_session_path, class: "btn btn-primary btn-lg text-center" %>
          <% end %>
        </div>
      </div>
    </div>


<!-- <div class="booyah-box col-10 offset-1 text-center">
  <br />

  <h2><b>Available Games</b></h2>
  <br />

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <table class="table">
      <tr class="heading">
        <th>#</th>
        <th>Game Offered By...</th>
        <th>You would be...</th>
      </tr>
      <% @available_games.each do |available_game| %>
        <tr>
          <td><%= available_game.id %></td>
          <td><%= available_game.host_player.name %></td>
          <td><%= available_game.missing_player_color %></td>

          <td>      <%= simple_form_for available_game do |f| %>
          <% if user_signed_in? %>
            <%= f.hidden_field available_game.missing_player_color == 'White' ?
              :user_id_white : :user_id_black, value: current_user.id %>

            <%= f.submit available_game.missing_player_color == 'White' ? "Join As White" : "Join As Black", class: 'btn btn-primary btn-small float right' %>
          <% else %>
            <%= button_to available_game.missing_player_color == 'White' ? "Join As White" : "Join As Black", new_user_session_path, class: 'btn btn-primary btn-small float right' %>
          <% end% %>
          <br />
          <% end %>
         </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
  <br />
  <br />
  <br />
</div> -->





<!-- how to play Modal -->
<div class="modal fade" id="howToPlayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">How To Play</h4>
      </div>
      <div class="modal-body">
        <p>
        <b>FIRST you need to sign up and log in.</b> To sign up, <%= link_to 'Click Here', new_user_registration_path %>. To log in, <%= link_to 'Click here', new_user_session_path %>.
        </p>
        <p><b>ONCE YOU'RE LOGGED IN:</b></p>
        <p>
        1. <b> Offer a game or accept someone’s invitation  to play.</b>
        </p>
        <p>
        2. <b> A game board opens.</b> As soon as two people have agreed to play, the game board will show both people’s usernames, who is online, and whose move it is. You need to be online to make a move, but you don’t have to be online at the same time.  
        </p>
        <p>
        3. <b>The board will redraw after each move</b> and keep track of pieces captured, moves that have been made, and whose move it is.  
        </p>
        <br />
        <p><b>Your dashboard:</b></p>
        <p> 1.  You can play more than one game at a time. </p>
        <p>  2.  If you are only playing one game, when you log in you will go immediately to that game board.   </p>
        <p> 3.  If you’re playing more than one game, when you log in you will go to your dashboard. Your dashboard shows all the games you are currently playing, as well as listing all the games you have played. From there you can choose which game board you want to see.</p>
        <br />
        <p><b>What does it cost?</b></p>
        <p> Nothing! “Let The Wookie Win” is a free service offered by (list our names with links). </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<% if user_signed_in? %>
  <!-- "Offer A Game" Modal -->
  <div class="modal fade" id="offerGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Offer a Game - Choose Your Color!</h4>
        </div>
        <div class="modal-body">
          <h3>How to Offer a New Game</h3>
          <p> As soon as you click one of the “Offer Game” buttons you’ll be taken to a game board that shows you as whichever color you chose.</p>
          <h3> What will happen next?</h3>
          <p>1. The new game you have created will be added to the list of games on the welcome page that other players can join.</p>
          <p>2. As soon as someone clicks “Join” to join your game, that person’s username will appear on your game board playing the other color and the board will indicate “White’s Move.”</p>
          <p>3. As soon as White makes the first move the board will change again to indicate “Black’s Move.”</p>
          <p>You can check your Dashboard any time to see the status of the games you are currently playing and the outcomes of the games you have played. Enjoy your games!</p>

        </div>
        <div class="modal-footer">
          <div class='float-left'>
            <%= simple_form_for @game do |f| %>
              <%= f.hidden_field :user_id_white, value: current_user.id %>
              <%= f.submit "Offer Game As White", class: 'btn btn-primary float-left' %>
            <% end %>
          </div>
          <%= simple_form_for @game do |f| %>
              <%= f.hidden_field :user_id_black, value: current_user.id %>
              <%= f.submit "Offer Game As Black", class: 'btn btn-primary float-right' %>
            <% end %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

