</br>
</br>

<h1>Chessboard</h1>

<table id='chessboard'>
  <% ((7).downto(0)).each do |y| %>
    <tr>
    <% (0..7).each do |x| %>
      <td class="droppable" data-x="<%= x %>" data-y="<%= y %>">
      <% piece = Piece.find_by(x_position: x, y_position: y, game_id: @game.id) %>
      	<% if piece.present? %>
      		<div class="piece draggable" data-black="<%= piece.is_black %>" data-id="<%= piece.id %>" data-status="<%= piece.game.status %>"><%= piece.unicode.html_safe %></div>
        <% end %>
      </td>
    <% end %>
  <% end %>
</table>
<br />
<br />
<h2 class= 'text-center'>Moves</h3>
    <table class="table">
        <tr>
          <th>Move Number</th>
          <th>White's Move</th>
          <th>Black's Move</th>
        </tr>
        <% if @moves %>
          <% @moves.each_slice(2).each_with_index do |pair, index| %>
              <tr>
                  <td><%= index + 1 %></td>
                  <td><%= pair.first.to_algebra %></td>
                  <td><%= pair.last.to_algebra %> </td>
              </tr>
          <% end %>
        <% end %>
    </table>


<script>
  $(document).ready(function () {
    $(".draggable").draggable({
      helper: "clone",
    });
    $(".droppable").droppable({

      drop: function( event, ui) {

        var id = ui.draggable.data('id')
        var x = $(this).data('x')
        var y = $(this).data('y')


        $.ajax({
          type: 'PUT',
           url: '/pieces/' + id,
           dataType: 'json',
           data: { id: id, x_position: x, y_position: y },
           success: function(data){
             location.reload();
          }
        });
      }
    });
  });
</script>


<%= link_to 'Forefeit Game', forfeit_game_game_path, method: :post, data: {confirm: 'Are you sure you want to forfeit?'},class: 'btn btn-secondary' %>




<script>
$(document).ready(function () {
<% if @game.status != "available" && @game.status != "active" %>
    $('#myModal').modal('show');
<% end %>
});
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Game Over!</h4>
      </div>
      <div class="modal-body">
        Game Status: <%= @game.status %>
        </br>
        Winner: <strong><%= @game.winner %></strong>
      </div>
      <div class="modal-footer">
        <%= link_to 'Start a new game!', root_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

